@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Inter:wght@400;700&family=Lexend+Deca&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px */
}

body {
  background-color: hsl(233, 47%, 7%);
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;

  /* place items in the center of the body */
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.card {
  border-radius: 1.2rem;
  max-width: 90rem;
  text-align: center;
  overflow: hidden;
  background-color: hsl(244, 38%, 16%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5rem;
}

.card-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 2.8rem;
  padding: 4rem;
}

.card-Heading {
  font-family: "Lexend Deca", sans-serif;
  font-size: 3rem;
  font-weight: 700;
  margin-right: 5rem;
}

.highlight {
  color: hsl(277, 64%, 61%);
}

.card-description {
  color: hsla(0, 0%, 100%, 0.6);
  font-weight: 400;
  line-height: 1.5;
  word-spacing: 0.3rem;
  font-size: 1.2rem;
  margin-right: 6rem;
}

.card-stats {
  display: flex;
  justify-content: flex-start;
  gap: 4rem;
  margin-top: 1.5rem;

  text-transform: uppercase;
  line-height: 1.6;
}

.card-stat h2 {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.8rem; /*------------------*/
}

.card-stat p {
  color: hsla(0, 0%, 100%, 0.5);
  letter-spacing: 0.15rem;
}


.card-img-box {
  background-color: hsl(277, 64%, 40%);
  /*position: relative;*/
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
  opacity: 0.55;
}

/*
.card-img-box::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: hsl(277, 64%, 40%);
  opacity: 0.7;
}
*/

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 60%;
  }

  .card {
    max-width: 40rem;
    margin: 2rem 4rem;
    grid-template-columns: 1fr;
    margin-bottom: 4rem;
  }

  .card-img-box {
    grid-row-start: 1;
  }

  .card-text-box {
    text-align: center;
    padding: 2rem 5rem;
    gap: 1.7rem;
  }
  .card-Heading {
    font-size: 2.5rem;
    margin-right: 0;
  }

  .card-description {
    margin-right: 0;
    font-size: 1.3rem;
  }

  .card-stats {
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.5rem;
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }

  .card {
    max-width: 45rem;
  }

  .card-text-box {
    padding: 2rem 2rem;
    margin: 0 5rem;
  }
}
